torch==2.5.1
torchvision==0.20.1
diffusers
transformers
datasets==3.3.2
accelerate
gradio==5.20.1
ftfy==6.3.1
tensorboard
Jinja2
tqdm
scipy
fire==0.7.0
wandb
safetensors
opencv-python
mediapipe=0.10.21
pynvml
cache=1.0.3
xformers==0.0.29.post1
colorama==0.4.6
torchmetrics=1.6.2
--extra-index-url https://download.pytorch.org/whl/cu124
